/* Basic */

html {
    background: url('./img/background.png');
    color: var(--text);
}

body {
    background-color: transparent;
    margin: 0px;
    overflow-x: hidden;
}


/* main */

.main {
    margin: auto;
    width: 70%;
}

.main-cover {
    margin: auto;
    display: grid;
    grid-template-rows: 30px 60x 800px;
}

.title {
    text-align: center;
    color: #231c57;
    font-size: 32px;
}


/* Header */

.header {
    height: 100px;
    display: grid;
    place-items: center;
}

.logo {
    display: inline-block !important;
    vertical-align: middle;
    margin-top: -10px;
}

.logo-text {
    color: #3d9ae2;
    font-size: 32px;
    font-weight: 700;
    font-family: Cabin, sans-serif;
}

.logo-sub-text {
    color: #231c57;
    font-size: 32px;
    font-weight: 540;
    -webkit-font-smoothing: antialiased;
    font-family: Cabin, sans-serif;
}

.holder a {
    text-decoration: none;
}


/* toast */

.toast {
    visibility: hidden;
    opacity: 1;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(10, 10, 10, 0.95);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 0px;
}

.toast-show {
    visibility: visible;
    top: 30px;
    transition: visibility 1s, top 1s;
}


/* loader */

#loader_cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.85);
    overflow: hidden;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 123;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Scroll bar settings */

 ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}